/* your styles go here */
.rightsRes {
    color: whitesmoke !important;
    background: -webkit-linear-gradient(whitesmoke, whitesmoke);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.intro-section-bg {
    z-index: -1;
    opacity: 0.77;
    background: url(../img/home.jpg) center center no-repeat; 
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.subtext{
    color: white;
    text-shadow: 3px 4px 4px #04051e;
}

.name {
    font-size: 5em;
    color: white;
    font-weight: bolder;
    text-shadow: 6px 5px 4px #070823;
    padding-bottom: 1.5%;
}

.footer-social {
    display: block;
    width: 100%;
    left: 0;
    bottom: 7.2rem;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: outside none none;
}

.aboutPic {
    width: 50%;
}

.projectImg {
    width: 90%;
    margin: auto;
    display: block;
}

.navbarMenu {
    text-align: right;
}

.projTitle {
    font-size: 1.7rem;
    border-bottom: 0.5px solid silver;
    text-transform: uppercase;
}

@media (max-width: 991.98px) {
    .name {
        font-size: 4.5em;
    }

    .subtext{
        color: white;
        text-shadow: 3px 4px 4px black;
        font-size: 2em;
    }
    
    .aboutPic {
        width: 30%;
    }

    .projectImg {
        width: 70%;
    }
}


@media (max-width: 768px) {
    .name {
        font-size: 4em;
    }

    .subtext{
        color: white;
        text-shadow: 3px 4px 4px black;
        font-size: 1.5em;
    }

    .aboutPic {
        width: 40%;
    }

    .projectImg {
        width: 100%;
    }
}