/* your styles go here */
.xcolor {
    color: #0ab1f8;
}

.fa:hover, .fab:hover {
    color: rgb(111, 219, 255) !important;
}
.rightsRes {
    color: #55adcb !important;
    background: -webkit-linear-gradient(#55adcb, #4dafd0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-bottom: 2%;
}

.intro-section-bg {
    z-index: -1;
    opacity: 0.995;
    background: url(../img/home.jpg) center center no-repeat;
    background-color: rgb(225, 204, 19);
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* opacity: 0.8; */

}

.imageContainer {
    position: relative;
    /* text-align: center; */
    width: 30%;
}

.name {
    position: absolute !important;
    text-align: center;   
    left: 0;
    right: 0;
    top: 25%;
    font-size: 6.2rem; 
    color: white;
    font-weight: bolder;
    /* padding-bottom: 5%; */
    /* font-family: 'Lobster Two', cursive; */
    /* background-color: rgb(204, 231, 241);
    opacity: 0.9; */
}

.subtext {
    /* text-shadow: 2px 0 grey, 0 1px slategray, 3px 0 grey, 0 1px slategray; */
    text-shadow: 2px 0 white, 0 1px #d6b974, 3px 0 white, 0 1px #d5bb7d;

    color: rgb(42, 48, 52);
    /* color: #f7484e; */
    /* font-family: 'Roboto Slab', serif; */
    font-size: 2.3rem;
    position: absolute !important;
    top: 55%;
    text-align: center;   
    left: 0; 
    right: 0;
    transform: translate(-50%, -50%);
    font-weight: bolder;
    line-height: 1.5;
}

.subsubtext {
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 1.3rem;
    text-shadow: 3px 2px 7px black, 0 1px black, 0 2px black;    
    padding-top: 26%;
    padding-left: 35%;
    /* font-family: 'PT serif'; */
}

.footer-social {
    display: block;
    width: 100%;
    left: 0;
    bottom: 7.2rem;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: outside none none;
}

.aboutPic {
    width: 50%;
}

.projectImg {
    width: 90%;
    margin: auto;
    display: block;
}

.navbarMenu {
    text-align: right;
}

.projTitle {
    font-size: 1.7rem;
    border-bottom: 0.5px solid silver;
    text-transform: uppercase;
    margin-top: 3%;
}

.services-section p.description1 {
    padding-left: 10%;
}

.services-section p.description2 {
    padding-left: 14%;
}

.services-section p.description3 {
    padding-left: 14%;
}

.oneSquare {
    background-color: rgba(255, 255, 255, 0.823); 
    width: 90%;
    padding: 7px;
    height: 100%;
    flex: 0 0 30% !important;
    max-width: 30% !important;
    margin: auto;    
}

.viewResume {
    padding-top: 10%;
}




@media (max-width: 1199.99px) {
    .name {
        font-size: 6rem;
        position: absolute;
        top: 25%;
        text-align: center;   
        left: 10%;
        right: 0;
    }

    .subtext {
        font-size: 2.3rem;
        position: absolute;
        top: 55%;
        text-align: center;   
        left: 13%;
        right: 0;
    }

    .subsubtext {
        font-size: 1.3rem;
        padding-top: 25%;
    }

    .projectImg {
        width: 100%;
    }

    .aboutPic {
        width: 50%;
    }

    .oneSquare {
        flex: 0 0 32% !important;
        max-width: 32% !important;
        margin: auto;   
        height: 99%;
        margin: 0.5%;
        padding-top: 3%; 
    }

    .services-section p.description1 {
        padding-left: 0%;
    }
    
    .services-section p.description2 {
        padding-left: 5%;
    }
    
    .services-section p.description3 {
        padding-left: 8%;
    }

    .imageContainer {
        width: 36%;
    }
}

@media (max-width: 991.98px) {
    .name {
        font-size: 5.2rem;
        position: absolute;
        top: 25%;
        text-align: center;   
        left: 20%;
        right: 0;
    }

    .subtext{
        font-size: 2.4rem;
        position: absolute;
        top: 52%;
        text-align: center;   
        left: 22%;
        right: 0;
    }
        
    .subsubtext {
        font-size: 1.0rem;
        padding-top: 32%;
    }
    .aboutPic {
        width: 30%;
    }

    .projectImg {
        width: 70%;
    }

    .reference .overlay {
        left: 7.5% !important;
        width: 85%;
    }

    .oneSquare {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin: auto;   
        height: 90%;
        margin: 1%;
        padding-top: 3%; 
        background-color: inherit;
        border-bottom: 0.5px solid silver;
    }

    .services-section p.description1 {
        padding-left: 30%;
    }
    
    .services-section p.description2 {
        padding-left: 32.8%;
    }
    
    .services-section p.description3 {
        padding-left: 33%;
    }
    
    .imageContainer {
        width: 60%;
    }
}


@media (max-width: 768px) {
    .name {
        font-size: 3.7em;
        position: absolute;
        top: 25%;
        text-align: center;   
        left: 0;
        right: 0;
    }

    .subtext {
        font-size: 1.7rem;
        position: absolute;
        top: 50%;
        text-align: center;   
        left: 0;
        right: 0;
    }

    .subsubtext {
        padding-top: 40%;
        padding-left: 10%;
    }

    .aboutPic {
        width: 40%;
    }

    .projectImg {
        width: 100%;
    }

    .reference .overlay {
        left: 0 !important;
        width: 100%;
    }

    .oneSquare {
        flex: 0 0 90% !important;
        max-width: 90% !important;
        margin: 2% auto;   
        height: 90%;
        padding-top: 3%; 
        background-color: inherit;
        border-bottom: 0.5px solid silver;
    }

    .services-section p.description1 {
        padding-left: 20%;
    }
    
    .services-section p.description2 {
        padding-left: 21%;
    }
    
    .services-section p.description3 {
        padding-left: 20%;
    }

    .imageContainer {
        width: 60%;
    }
}


@media (max-width: 480px) {
    .name {
        font-size: 3.6em;
        position: absolute;
        top: 30%;
        text-align: center;   
        left: 3%;
        right: 0;
    }

    .subtext{
        font-size: 1.7rem;
        position: absolute;
        top: 50%;
        text-align: center;   
        left: 0;
        right: 0;
    }

    .subsubtext {
        padding-top: 62%;
        padding-left: 28%;
    }

    .aboutPic {
        width: 40%;
    }

    .projectImg {
        width: 100%;
    }

    .reference .overlay {
        left: 0 !important;
        width: 100%;
    }

    .oneSquare {
        flex: 0 0 90% !important;
        max-width: 90% !important;
        margin: 2% auto;   
        height: 90%;
        padding-top: 3%; 
        background-color: inherit;
        border-bottom: 0.5px solid silver;
    }

    .services-section p.description1 {
        padding-left: 20%;
    }
    
    .services-section p.description2 {
        padding-left: 21%;
    }
    
    .services-section p.description3 {
        padding-left: 20%;
    }

    .imageContainer {
        width: 60%;
    }

    /* .fa {
        color: white;
    } */
}